# Lista de Exercícios 2

### Esta é a lista de exercícios práticos onde serão trabalhados conceitos apresentados e exercitados em sala de aula

### Aspectos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, classes e funções, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final

### Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer a codificação fica mais fácil, mais eficiente e mais divertida ;-)

### Faça o upload do notebook Jupyter completo nomeado da seguinte forma: nome_sobrenome_RA.ipynb. Arquivos com nomes incorretos serão desconsiderados

### Por fim, boa sorte e enjoy!

<hr>

## Exercício 1

### Considere um arquivo de entrada no formato CSV (comma separated values) com informações relativas a acidentes na aviação civil brasileira nos últimos 10 anos (arquivo anv.csv)

### As informações estão separadas pelo caracter separador ~ e entre “” (aspas) conforme o exemplo abaixo:

```javascript
"201106142171203"~"PPGXE"~"AEROCLUBE"~"AVIÃO"~"NEIVA INDUSTRIA AERONAUTICA"~"56- C"~"PAUL"~"PISTÃO"~"MONOMOTOR"~"660"~"LEVE"~"2"~"1962"~"BRASIL"~"BRASIL"~"PRI"~" INSTRUÇÃO"~"SDPW"~"SDPW"~"INDETERMINADA"~"UNKNOWN"~"VOO DE INSTRUÇÃO"~"SUBSTANCIAL"~"0"~"2018-07-09“

"201707111402595"~"PPNCG"~"OPERADOR PARTICULAR"~"AVIÃO"~"PIPER AIRCRAFT"~"PA-46- 350P"~"PA46"~"TURBOÉLICE"~"MONOMOTOR"~"1950"~"LEVE"~"6"~"1990"~"NULL"~"BRASIL"~" TPP"~"PARTICULAR"~"SBBR"~"SBGR"~"POUSO"~"LANDING"~"VOO PRIVADO"~"NENHUM"~"0"~"2018-07-09"'''
```

### O arquivo é composto das seguintes colunas:
1. codigo_ocorrencia
2. aeronave_matricula
3. aeronave_operador_categoria 4. aeronave_tipo_veiculo
5. aeronave_fabricante
6. aeronave_modelo
7. aeronave_tipo_icao
8. aeronave_motor_tipo
9. aeronave_motor_quantidade 
10. aeronave_pmd 
11. aeronave_pmd_categoria 
12. aeronave_assentos 
13. aeronave_ano_fabricacao
14. aeronave_pais_fabricante 
15. aeronave_pais_registro 
16. aeronave_registro_categoria 
17. aeronave_registro_segmento 
18. aeronave_voo_origem 
19. aeronave_voo_destino 
20. aeronave_fase_operacao 
21. aeronave_fase_operacao_icao 
22. aeronave_tipo_operacao 
23. aeronave_nivel_dano 
24. total_fatalidades
25. aeronave_dia_extracao

### Crie uma função que efetue a leitura do arquivo e processe seus dados identificando o total de ocorrencias no período avaliado e, baseado nessa informação criar um arquivo de saída em formato JSON (statistics.json) com as seguintes as estatísticas (número de ocorrências e percentual do total) por fase de operação (coluna aeronave_fase_operacao), como o exemplo a seguir:

```json

[
  {
    "fase_operacao": "APROXIMAÇÃO FINAL", 
    "ocorrencias": 234,
    "percentual": "4,51%"
  },
  {
    "fase_operacao": "INDETERMINADA", 
    "ocorrencias": 180,
    "percentual": "2,43%"
  },
  {
    "fase_operacao": "MANOBRA", 
    "ocorrencias": 80,
    "percentual": "0,95%"
  }
]

```

### Crie um arquivo de saida (formato CSV) com nome levels.csv contendo as seguintes informações:
* operation -> aeronave_operador_categoria
* type -> aeronave_tipo_veiculo
* manufacturer -> aeronave_fabricante
* engine_type aeronave_motor_tipo
* engines -> aeronave_motor_quantidade
* year_manufacturing -> aeronave_ano_fabricacao 
* seating -> aeronave_assentos
* fatalities -> total_fatalidades

### Considerando apenas acidentes cujo nível de dano da aeronave tenha sido LEVE ou NENHUM (coluna aeronave_nivel_dano) E que o número de fatalidades (total_fatalidades) tenha sido superior à 0 (zero)
OBS: 
1. Efetuar apenas uma leitura do arquivo de entrada
2. Efetuar todas as leituras e gravações de arquivos na pasta /tmp

In [86]:
import csv
import pandas as pd
import json

In [87]:
df_data1 = pd.read_csv('anv.csv',sep = "~",header = 0)

In [88]:
dic = df_data1.groupby(by='aeronave_fase_operacao').size().rename_axis('aeronave_fase_operacao')\
.sort_values(ascending=False).to_dict()

In [89]:
lista = []

In [90]:
for key,value in dic.items():
    lista.append({'fase_operacao':key,'ocorrencias':value, 'percentual': round((value/len(df_data1)) * 100,2)})

In [91]:
with open('tmp/statistics.json','w') as f:
    json.dump(lista,f)

In [92]:
df_csv = df_data1.loc[df_data1.aeronave_nivel_dano.apply(lambda x: x in ['NENHUM','LEVE'])]

In [93]:
df_csv = df_csv[['aeronave_operador_categoria',\
                 'aeronave_tipo_veiculo',\
                 'aeronave_fabricante',\
                 'aeronave_motor_tipo',\
                 'aeronave_motor_quantidade',\
                 'aeronave_ano_fabricacao',\
                 'aeronave_assentos',\
                 'total_fatalidades']]\
.rename(columns={'aeronave_operador_categoria':'operation',\
                 'aeronave_tipo_veiculo':'type',\
                 'aeronave_fabricante':'manufacturer',\
                 'aeronave_motor_tipo':'engine_type',\
                 'aeronave_motor_quantidade':'engines',\
                 'aeronave_ano_fabricacao':'year_manufacturing',\
                 'aeronave_assentos':'seating',\
                 'total_fatalidades':'fatalities'})

In [94]:
df_csv.to_csv('tmp/levels.csv',index=False)

<hr>

## Exercício 2

### Crie um programa que efetue a leitura do arquivo produzido no exercício 1 (levels.csv) e mostre na tela as seguintes informações estatísticas:
* Quantidade total de acidentes
* Quantidade total de acidentes agrupados por tipo de aeronave (type)
* Ano e fabricante da aeronave mais antiga (year_manufacturing, manufacturer)
* Quantidade de assentos e tipo de motor da aeronave mais nova (seating, engine_type)
* A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997
* A quantidade de acidentes que ocorreram com aeronaves do tipo (type) AVIÃO fabricadas (manufacturer) pela CESSNA AIRCRAFT

OBS: 
1. Efetuar todas as leituras e gravações de arquivos na pasta /tmp

In [19]:
pd_data2 = pd.read_csv('tmp/levels.csv', sep=',', header=0).drop_duplicates()

In [73]:
# Quantidade total de acidentes
len(pd_data2)

1472

In [74]:
# Quantidade total de acidentes agrupados por tipo de aeronave (type)
pd_data2.type.value_counts().rename_axis('type').reset_index(name='quantidade acidentes')

            type  quantidade acidentes
0          AVIÃO                  1215
1    HELICÓPTERO                   182
2      ULTRALEVE                    61
3        ANFÍBIO                     5
4       PLANADOR                     4
5  INDETERMINADA                     4
6      DIRIGÍVEL                     1

In [75]:
#Ano e fabricante da aeronave mais antiga (year_manufacturing, manufacturer)
pd_data2.year_manufacturing[pd_data2.year_manufacturing.apply(lambda x: x > 0)].min()

1936.0

In [95]:
# Ano e fabricante da aeronava mais antiga:
pd_data2[['year_manufacturing','manufacturer']]\
.loc[pd_data2.year_manufacturing == pd_data2.year_manufacturing[pd_data2.year_manufacturing.apply(lambda x: x > 0)].min()]

      year_manufacturing    manufacturer
1834              1936.0  BEECH AIRCRAFT

In [96]:
# Quantidade de assentos e tipo de motor da aeronave mais nova (seating, engine_type)
pd_data2[['seating','engine_type']].loc[pd_data2.year_manufacturing == pd_data2.year_manufacturing.max()]\
.dropna().groupby(['engine_type']).max().reset_index()

  engine_type  seating
0        JATO    183.0

In [97]:
# Quantidade de Acidentes Helicóptero acima de 1997:
len(pd_data2.loc[(pd_data2.type.apply(lambda x: x == 'HELICÓPTERO')) &\
                 (pd_data2.year_manufacturing.apply(lambda x: x > 1997))])

120

In [98]:
# Quantidade de Acidentes de Avião e da Cessna Aircraft:
len(pd_data2.loc[(pd_data2.type.apply(lambda x: x == 'AVIÃO')) &\
                 (pd_data2.manufacturer.apply(lambda x: x == 'CESSNA AIRCRAFT'))])

229

<hr>

## Exercício 3

### Considere um arquivo de entrada no formato CSV (comma separated values) com informações relativas gastos de parlamentares do estado de São Paulo, entre os anos de 2009 e 2018 (cota_parlamentar_sp.csv). As informações estão separadas pelo caracter separador ; conforme o exemplo abaixo:

```javascript
01/01/2018 00:00;3011;2015;2018;1;PPS;ALEX MANENTE;MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR;;CENTRO EMPRESARIAL MEDITERRANEO;91606
01/01/2018 00:00;3011;2015;2018;1;PPS;ALEX MANENTE;MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR;;CENTRO EMPRESARIAL MEDITERRANEO;86864
01/01/2018 00:00;3011;2015;2018;1;PPS;ALEX MANENTE;MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR;;CENTRO EMPRESARIAL MEDITERRANEO;90555
```

### As colunas estão organizadas da segunte forma:
1. datemissao
2. nudeputadoid
3. nulegislatura
4. numano
5. nummes
6. sgpartido
7. txnomeparlamentar
8. txtdescricao
9. txtdescricaoespecificacao 
10. txtfornecedor 
11. vlrdocumento

### Crie uma função que efetue a leitura do arquivo (cota_parlamentar_sp.csv) e para cada legenda (sgpartido) grave um arquivo com o nome da legenda no formato JSON (ex: DEM.json, PSDB.json)

### Em cada arquivo deverá conter as seguintes informações conforme exemplo:

```json
[
  {
    "legenda": "DEM",
    "nome": "ROBSON TUMA",
    "total": 177565
  },
  {
    "legenda": "DEM",
    "nome": "JORGINHO MALULY",
    "total": 31335515
  },
  {
    "legenda": "SD",
    "nome": "PAULO PEREIRA DA SILVA", 
    "total": 155445892
  }
]
```

* legenda (partido)
* nome (nome do parlamentar)
* total (total de despesas do parlamentar)

OBS: 
1. Efetuar todas as leituras e gravações de arquivos na pasta /tmp

<hr>